:root{
    --primary-color:rgb(64, 170, 64);
    --secondary-color:rgb(32, 32, 32);
    --font:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* NAV STYLES */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--secondary-color);
    padding: .50rem 0;
    /* border: 1px solid blue; */
    position: sticky;
}
.sticky {
    position: fixed;
    top: 0;
    padding: .25rem 0;
}
.brand {
    color: var(--primary-color);
    font-family: var(--font);
    width: max-content;
}
.navbar {
    display: flex;
    width: 100%;
}
.nav-links {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: var(--font);
}
.nav-link {
    list-style: none;
}
.nav-link a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid var(--primary-color);
    padding: .25rem .50rem;
}

/* HOME STYLES */

.home {
    height: 100vh;
}
.home-content {
    width: 100%;
    height: 100vh; 
    background-image:url('assets/prandy-store\ copy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: var(--font);
    text-shadow: 2px 2px 1px black;
}

.home-title{
    color: var(--primary-color);
    box-shadow:1px 2px 2.5px 3px black;
    padding: .50rem ;
    letter-spacing:-1px;
}
.home-content p {
    padding: .25rem .50rem;
    border-bottom: 2px solid rgb(32, 140, 241);
    border-radius: 4px;
}

/* SERVICES STYLES */


.services{
    border: 1px solid red;
    background: linear-gradient(to bottom, var(--primary-color), #f08b26);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}
.service {
    border: 1px solid blue;
    width: 50%;
    padding: 0;
    height: 20%;
}


/* FOOTER STYLES */
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: var(--secondary-color);
    padding: .25rem 0;
}
.footer-title{
    font-family: var(--font);
    border-bottom:1px solid var(--primary-color);
    width: max-content;
    color: white;
}
.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem .40rem;
}

.footer-link {
    list-style: none;
}
.footer-link a > img {
    width: 3rem;
    border-radius: 10px;
    object-fit: cover;
    background-color: none;
    padding: .25rem .40rem;
}